/* Styles généraux */
body {
  margin-top: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f0f2f5;
}


/* Conteneur principal */
.home {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}



/* En-tête de la page d'accueil */
.home-header {
  margin-bottom: 20px;
}

/* Formulaire de nouveau post et connexion */
.new-post-form,
.log {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Fil de discussion */
.thread {
  margin-bottom: 20px;
}

/* Barre latérale droite */
.right-side {
  width: 300px;
  margin-left: 20px;
}

/* Conteneur interne de la barre latérale */
.right-side-container {
  position: sticky;
  top: 80px;
}

/* Wrapper */
.wrapper {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.trends,
.friend-hint {
  margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .right-side {
    display: none;
  }
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
    align-items: center;
  }

  .main,
  .home-header {
    width: 100%;
    padding: 0 10px;
  }
}